<div>
    {% for message in messages %}
        {{ include('reddit/_message.html.twig', { message: message }) }}
    {% else %}
        <div class="px-6 py-4 whitespace-nowrap text-center text-gray-400">No Messages</div>
    {% endfor %}
</div>