@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .category {
        position: relative;
        transition: background-color 0.3s ease-in-out;
    }

    /*.category.highlighted {*/
    /*    border-left: 1px solid #C39E80;*/
    /*}*/

    .subcategory {
        overflow: hidden;
        height: 0;
        opacity: 0;
        transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    .subcategory.expanded {
        height: auto;
        opacity: 1;
    }
}
