<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="view-transition">
        <title>{% block title %}Nested View!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {{ importmap('app') }}
        {% endblock %}
    </head>
    <body class="bg-light-beige text-dark-gray">
        <div class="container mx-auto min-h-screen flex flex-col">
            <header class="my-4 px-4">

                <nav class="flex items-center justify-between mb-4">
                    <div class="flex items-center">
                        <a href="{{ path('app_homepage') }}" >
                            <img src="{{ asset('images/logo.jpeg') }}" width="50" alt="Froq Logo" class="rounded-full">
                        </a>
                        <a href="{{ path('app_homepage') }}" class="text-xl ml-3">Nested View</a>
                    </div>
                </nav>
            </header>

            <!-- Make sure the main tag takes up the remaining height -->
            <main class="flex-grow">{% block body %}{% endblock %}</main>

            <!-- Footer -->
            <footer class="py-4 mt-6 bg-pale-pink text-center">
                <div class="text-sm">
                    FROQ Assessment
                </div>
            </footer>
        </div>
    </body>
</html>
