{% props
    padding = 'py-1 px-3'
%}

<button
        {{
        attributes.defaults({
            class: 'cursor-pointer flex gap-2 rounded-full items-center text-xs hover:bg-gray-300 ' ~ padding,
        })
        }}>
    {% block content %}
    {% endblock %}
</button>
